.grid {
  display: grid;
  background-color: aqua;
}

#grid-container {
  margin: 36px auto;
  width: auto;
  border: 1px solid red;
}

.player {
  background-color: brown;
}

.item {
  background-color: darkolivegreen;
}