.grid {
  display: grid;
  background-color: aqua;
}

#grid-container {
  margin: 36px auto;
  width: auto;
  border: 1px solid red;
}

.player {
  background-color: brown;
  text-align: center;
  line-height: 0;
  padding: 25px 0;
  color: #fff;
}

.item {
  background-color: darkolivegreen;
}