html, body {
  font-size: 18px;
  font-family: sans-serif;
  color: #666;
  margin: 0;
  padding: 0;
}

.bordered {
  position: relative;
  margin: 32px;
  border: 1px solid #ddd;
  padding: 32px;
  min-height: 50px;
}

input[type=text] {
  padding: 10px;
  margin: 0 10px;
  font-size: 18px;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .2);
  border: 1px solid #ddd;
}

.border-label {
  position: absolute;
  top: -13px;
  left: 5px;
  background-color: #fff;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
}

button {
  display: block;
  min-width: 300px;
  margin: 0 auto;
  padding: 16px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  background-color: #336699;
  color: #fff;
  font-size: 18px;
}

button:hover {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, .2);
  background-color: #4477AA;
  cursor: pointer;
}

#greeting {
  font-size: 24px;
  font-weight: bold;
}