.form {
	display: flex;
	flex-direction: column;
	margin: 10px;
	justify-content: center;
	align-items: center;
}

.item-name {
	margin: 5px;
	width: 200px;
	height: 25px;
	border: none;
}

button {
	margin: 5px;
	width: 100px;
	height: 30px;
	border: none;
	border-radius: 2em;
	font-size: 15px;
	cursor: pointer;
}