.count {
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

.list-container {
  width: 75%;
  margin:2px auto;
}

.listed-item {
  text-align: left;
  width: 80%;
  margin: auto;
  padding: 5px 0px 5px 0px;
}

ul {
  list-style-position: outside;
}
