
.title {
	
}

label {
	margin: 10px;
	font-size: 25px;
}

.todo-list {
	background-color: #ffeb3b;
	height: 600px;
	width: 500px;
	display: flex;
	border-radius: 1em;
	align-items: center;
	flex-direction: column;
	margin: 25px;

}

.add-item {
	

}

.search {
	margin: 5px;
	width: 200px;
	height: 25px;
	border: none;
}

.list {
	margin: 10px;
	height: 400px;
	width: 400px;
	border: 5px black;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-top: #aeaeae 3px solid;
	border-bottom: #aeaeae 3px solid;

}

.item {
	margin: 5px;
	font-size: 20px;
	font-style: bold;
	list-style-type: 
}

a {
	font-size: 20px;
	width: 50px;
	background-color: #74ee15;
	border: 20px #4deeea ridge ;
	padding: 5px;
	margin: 15px;
 }










