*{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

body {
    background-color: #eee;
}

@media (max-width: 600px){


.logo {
    position: absolute ;
    top: 0;
    left: 0;
}
.links {
    margin-top:10px;
    width:22%;
    display:block;
}

#hireButton {
    position: relative;
    bottom: 0px;
    margin: 30px;
    background-color: #000;
    border-radius: 40px;
    width: 95%;
    padding: 10px 0px;
    color: #f9fafc;
    font-size: 16px;
    text-align: center;

}


#scrollButton {
    position: relative;
    bottom: 0px;
    margin: 30px;
    background-color: #000;
    border-radius: 40px;
    width: 95%;
    padding: 10px 0px;
    color: #f9fafc;
    font-size: 16px;
    text-align: center;

}

.links a {
    background-color: #eee; 
    color: black;
    display: block; 
    padding: 12px; 
    text-decoration: none;
}

.links a:hover {
    background-color: #ccc;
}

.links a.active {
    background-color: #4CAF50;
    color: white;
}

.main-text {
    border-left: 4px solid #69696a;
    padding-left: 10px;
    margin: 15px;
}

}
@media (min-width: 600px) {
    
    
    #hireButton {
    position:relative;
    left:1150px;
    top:-100px;
    margin: 30px;
    background-color: #000;
    border-radius: 40px;
    width: 140px;
    padding: 10px 0px;
    color: #f9fafc;
    font-size: 16px;
    text-align: center;

}


#scrollButton {
    position: relative;
    bottom: 580px;
    left:550px;
    margin: 30px;
    background-color: #000;
    border-radius: 40px;
    width: 140px;
    padding: 10px 0px;
    color: #f9fafc;
    font-size: 16px;
    text-align: center;
   

}
    
    .links a {
    position:relative;
    left:850px;
    top:-40px;
    background-color: #eee; 
    color: black;
    display: inline; 
    padding: 12px; 
    text-decoration: none;
  
}

.links a:hover {
    background-color: #ccc;
}

.links a.active {
    background-color: #4CAF50;
    color: white;
}

.main-text {
    border-left: 4px solid #69696a;
    padding-left: 10px;
    margin: 15px;
    width:600px;
}

.circles{
   
    display:relative;
}



.circle1{
    position: relative;
    background-color: rgba(207, 130, 213, 0.6);
    width: 150px;
    height: 150px;
    left:1050px;
    bottom:200px;
    border-radius: 100%;
    margin-top: 70px;
    right: 25px;

}
  
.circle2{
    position: relative;
    bottom: 400px;
    left: 790px;
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 50%;
    background-color: rgba(247, 136, 167, 0.6);
    z-index: 2
}

.circle3{
    position:relative;
    width: 200px;
    height: 200px;
    bottom: 538px;
    left: 992px;
    border: none;
    border-radius: 50%;
    background-color: rgba(247, 193, 162, 0.7);
    z-index: 3

}

}