*, *:after, *:before {
  box-sizing: border-box;
  }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f9fafc;
}

.banner {
  display: flex;
}
.middle-space {
  flex: 1;
}
.nav-list li {
  display: inline-block;
  padding: 10px;
}

.nav-item > a {
  text-decoration: none;
  color: black;
}

.company {
  display: block;
  font-weight: 800;
  margin-left: 60px;
}
.content {
  display: flex;
}

.content p {
  width: 70%;
  margin-left: 80px;
}

.circle-image {
  position: relative;
  right: 200px;
}

.biggest-circle {
  postition: absolute;
 height: 300px;
 width: 300px;
 background-color: rgba(247, 136, 167, 0.6);
 border-radius: 100%;
}


.medium-circle {
  position: absolute;
  left: 200px;
  top: 150px;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  background-color: rgba(247, 193, 162, 0.7);

}

.smallest-circle {
  position: absolute;
  left: 220px;
  top: 30px;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background-color: rgba(207, 130, 213, 0.6);
}

.button {
  background-color: #000;
  color: #f9fafc;
  border-radius: 50px;
}

.scroll {
  display: flex;
  align-items: center;
  width: 100px;
  height: 30px;
  text-align: center;
}
