*, *:after, *:before {
  box-sizing: border-box;
  }

main {
  font-family: 'Open Sans', sans-serif;
  background-color: #f9fafc;
}

.banner {
  display: flex;
}
.middle-space {
  flex: 1;
}
.nav-list li {
  display: inline-block;
  padding: 10px;
}

.nav-item > a {
  text-decoration: none;
  color: black;
}

.company {
  display: block;
  font-weight: 800;
}
.content {
  display: flex;
}
.circle-image {
position: relative;
}

.biggest-circle {
  postition: absolute;
 height: 200px;
 width: 200px;
 background-color: rgba(247, 136, 167, 0.6);
 border-radius: 100%;
}


.medium-circle {
  position: absolute;
  left: 10px;
  top: 20px;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background-color: rgba(247, 193, 162, 0.7);

}

.smallest-circle {
  position: absolute;
  left: 10px;
  top: 20px;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background-color: rgba(207, 130, 213, 0.6);
}
