.item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.item-container div {
  padding: 12px 0;
}

.item-container .item-cost {
  font-weight: bold;
  font-family: monospace;
}