.full-list-container {
  height: 500;
  width: 75%;
  background-color: #daf2f0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
