budget {
  display: block;
  margin: 36px auto;
  max-width: 600px;
}

@media(max-width: 672px) {
  budget {
    margin: 36px;
  }
}

budget .stat {
  margin-bottom: 24px;
}

budget .warning {
  color: red;
  margin-bottom: 24px;
  font-weight: bold;
}