.table {
  border-radius: 50%;
  border: 1px solid #999;
  margin: 12px;
  cursor: pointer;
  font-size: 18px;
  width: 90%;
  height: 90%;
}

.table.available {
  background-color: #ccc;
}

.table.unavailable {
  background-color: #eee;
  opacity: 0.5;
}

.reservation-form h2 {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.reservation-form label {
  display: block;
  margin-bottom: 10px;
}

.reservation-form input {
  display: block;
  padding: 10px;
  font-size: 18px;
}

.reservation-form .reservation-buttons {
  display: flex;
  justify-content: stretch;
  margin: 0 -5px;
}

.reservation-form .reservation-buttons button {
  flex: 1;
  margin: 5px;
  padding: 10px;
  border: 0;
  font-size: 18px;
}

.reservation-form .cancel {
  background-color: #eee;
  color: #333;
}

.reservation-form .clear {
  background-color: rgb(136, 34, 34);
  color: #fff;
}

.reservation-form .save {
  background-color: rgb(47, 128, 40);
  color: #fff;
}

