body {
  font-family: sans-serif;
}

button {
  display: flex;
  justify-content: center;
  min-width: 200px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
  background-color: #509640;
  color: #fff;
  font-size: 15px;
}

.input-containter {
  display: flex;
  justify-content: center;
  margin: auto;
}

input[type=text] {
  padding: 10px;
  margin: 15px 10px;
  font-size: 18px;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .2);
  border: 1px solid #ddd;
}

#action-choice-container {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

#game-container {
  display: none;
}

.stats-summary-container {
  border: 4px solid #509640;
}

/* #player-update-note {
  text-align: center;
  margin: 15px auto;
} */

.stats-summary-container h2 {
  text-align: center;
}

.stats-summary-container p {
  display: flex;
  justify-content: center;
}

.stats-summary-container {
  margin: 20px 20px;
  padding: 20px;
}

#player-health-count, #player-heal-count,
#player-win-goal, #grant-health-count {
  margin: 0 auto;
  height: 15px;
  width: 300px;
  background-color: white;
  border: 2px solid #509640;
  border-radius: 5px;
}

#player-health-remaining, #grant-health-remaining {
  height: 15px;
  width: 100%;
  background-color: #509640;
}
