body {
  font-family: sans-serif;
}

button {
  display: flex;
  justify-content: center;
  min-width: 200px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
  background-color: #509640;
  color: #fff;
  font-size: 15px;
}

#action-choice-container {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.stats-summary-container {
  border: 4px solid #509640;
}

#player-update-note {
  text-align: center;
  margin: 15px auto;
}

.stats-summary-container h2 {
  text-align: center;
}

.stats-summary-container p {
  display: flex;
  justify-content: center;
}

.stats-summary-container {
  margin: 20px 20px;
}
